{% extends 'layout_superadmin.html.twig' %}

{% block title %}Edit utilisateur{% endblock %}

{% block content %}
<main class="container">
    <h1>Attribuer les rôles</h1>
    {{ form(userForm) }}
</main>
{% endblock %}