{% extends 'layout_superadmin.html.twig' %}

{% block title %}Hello Admin !{% endblock %}

{% block body %}


<div class="example-wrapper">
    <h1>✅ Page {{ app_controller }} </h1>

</div>
{% endblock %}
