{% extends 'layout_superadmin.html.twig' %}

{% block title %}Hello {{ app.user.firstname }} !{% endblock %}

{% block body %}


<main class="container-fluid col-md-11">
    <h1>✅ Hello {{ app.user.firstname }} !</h1>

    <p class= "text-uppercase fw-bold fst-italic"><a href="{{ path('home') }}">Retour au site</a></p>

</main>
{% endblock %}
