    <div class="row row-cols-md-3 g-4 my-4">
        <!--CARD: start-->
        {% for activity in activities %}
        <div class="col-md-6 col-lg-4">
            <div class="card card-activity bg-dark h-100 d-md-flex flex-row">
                        <img src="{{ activity.photo }}" class="card-img-top rounded w-50 mw-100 align-self-center" alt="{{ activity.name }}">
                        <div class="card-body d-flex flex-column justify-content-between w-50">
                            <h4 class="card-title w-100">{{ activity.name }}</h4>
                            <p class="card-text text-light w-100">{{ activity.description }}</p>
                            <a class="btn btn-primary text-light col-12" href="#" role="button">Choisir</a>
                        </div>
            </div>
        </div>
        {% endfor %}
        <!--CARD: end-->
    </div>
