    <div class="row g-4 my-4">
        <!--CARD: start-->
        {% for activity in activities %}
        <div class="col-md-6 col-lg-4">
            <div class="card bg-dark h-100">
                <div class="row g-0">
                    <div class="col-6">
                        <img src="https://bit.ly/3veb8Mm" class="card-img-top" alt="{{ activity.name }}">
                    </div>
                    <div class="col-6">
                        <div class="card-body">
                            <h4 class="card-title w-100">{{ activity.name }}</h4>
                            <p class="card-text text-light w-100">{{ activity.description }}</p>
                            <a class="btn btn-primary text-light col-12 w-100" href="#" role="button">Choisir</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        <!--CARD: end-->
    </div>
