  <div class="row my-4 g-4">
    {% for coach in coachs %}
    <div class="col col-md-6 col-lg-3">
      <div class="card bg-dark">
        <img src="https://cdn.pixabay.com/photo/2018/01/01/01/57/woman-3053492_960_720.jpg" class="card-img-top" alt="coach">
        <div class="card-body">
          <h4 class="card-title text-success">{{ coach.user.firstname }}</h4>
          {% for activity in coach.activities %}
              <p class="card-text text-light text-uppercase fw-bold">{{ activity.name }}</p>
          {% endfor %}
          <p class="card-text text-light">{{ coach.biography }}</p>
        </div>
      </div>
    </div>
    {% else %}
    Pas de coachs !
    {% endfor %}
  </div>