  <div class="row my-4 g-4">
    {% for coach in coachs %}
    <div class="col col-md-6 col-lg-3">
      <div class="card bg-dark">
        <img src="https://picsum.photos/id/65/200/" class="card-img-top" alt="coach">
        <div class="card-body">
          <h4 class="card-title text-success">{{ coach.user.firstname }}</h4>
          <p class="card-text text-light text-uppercase fw-bold">Running</p>
          <p class="card-text text-light">{{ coach.biography }}</p>
        </div>
      </div>
    </div>
    {% else %}
    Pas de coachs !
    {% endfor %}
  </div>