{% extends 'layout.html.twig' %}


{% block body %}
    {% include 'includes/_banner.html.twig' %}
    <section class="container-fluid col-11">
        <h2>Les activités</h2>
        <p class="text-center">Description de la section ainsi que des instructions expliquant à l'utilisateur comment naviguer.</p>
        {% include 'home/_activities.html.twig' %}
        <div class="row col-11 text-center mx-auto my-5 d-grid gap-2 col-sm-6 col-xl-3">
            <a class="btn btn-primary" href="{{ path('activity') }}" role="button">Voir plus d'activités</a>
        </div>
    </section>
    {% include 'home/_training_space.html.twig' %}
    <section class="container-fluid col-11">
        <h2>Les coachs</h2>
        {% include "home/_coach.html.twig" %}
        <div class="row col-11 text-center mx-auto my-5 d-grid gap-2 col-sm-6 col-xl-3">
            <a class="btn btn-primary" href="{{ path('coachs_index') }}" role="button">Voir plus de coachs</a>
        </div>
    </section>
{% endblock %}