<div class="border border-dark rounded m-1">
    <div class="d-flex align-items-center border border-dark title bg-light col-md-8 col-lg-6">
        <h2 class="m-2 text-truncate">Coach Moi</h2>
    </div>
    <div class="bg-light my-2 px-3 py-2">
        <table>
            <thead>
                <tr>
                    <td>Clients</td>
                    <td>Salles</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    {% for booking in app.user.coach.coachbookings %}
                        <td>{{ booking.client.user.firstname }} {{ booking.client.user.lastname }}</td>
                    {% endfor %}
                    {% for booking in app.user.coach.coachbookings %}
                        <td>{{ booking.trainingSpace.name }}</td>
                    {% endfor %}
                </tr>
            </tbody>
        </table>
</div>
