<div class="border border-dark rounded m-1">
    <div class="profile-h2 d-flex align-items-center border border-dark title bg-light col-md-8 col-lg-6">
        <h2 class="m-2 text-truncate">Coach Moi</h2>
    </div>
    <div class="bg-light my-2 px-3 py-2">
        <table class="table text-center">
            <thead>
                <tr class="fs-4">
                    <th scope="col">Clients</th>
                    <th scope="col">Salles</th>
                </tr>
            </thead>
            <tbody>
            {% for booking in app.user.coach.coachbookings %}
                <tr scope="row">
                    <td>{{ booking.client.user.firstname }} {{ booking.client.user.lastname }}</td>
                    <td>{{ booking.trainingSpace.name }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
</div>
