<div class="container-fluid col-md-5 border border-dark rounded mt-4 p-2 w-100">
     <div class="d-flex justify-content-center">
     {% if app.user.coach is null %}
          <img src="{{ asset('build/images/avatar.png') }}" class="img-fluid" width="250vh" alt="coach">
     {% elseif app.user.coach.photo == "" %}
          <img src="{{ asset('build/images/avatar.png') }}" class="img-fluid" width="250vh" alt="coach">
     {% else %}
          <img src="{{ vich_uploader_asset(app.user.coach, 'photoFile') }}" class="img-fluid" alt="avatar">
     {% endif %}
     </div>
</div>
