<div class="border border-dark d-flex justify-content-center rounded m-1 mb-3">
    <div class="col-md-10 col-lg-8">
        <img src="{{ asset('build/images/avatar.png') }}" class="img-fluid" alt="avatar">
    </div>
</div>
