<div class="container-fluid col-md-5 border border-dark rounded p-2">
     {% if app.user.coach is null %}
          <img src="{{ asset('build/images/avatar.png') }}" class="img-fluid" alt="coach">
     {% elseif app.user.coach.photo == "" %}
          <img src="{{ asset('build/images/avatar.png') }}" class="img-fluid" alt="coach">
     {% else %}
          <img src="{{ vich_uploader_asset(app.user.coach, 'photoFile') }}" class="img-fluid" alt="avatar">
     {% endif %}
</div>
