<div class="mes-preferences border border-dark rounded m-1 mb-3">
    <div class="profile-h2 border border-dark rounded d-flex align-items-center bg-dark w-75 p-0">
        <h2 class="m-2 text-truncate text-light"><i class="bi bi-heart-fill text-success"></i> Mes préférences</h2>
    </div>
    <div>
        <div class="my-2">
            <div class="bg-light m-3 border rounded">
                <p >Activité :</p>
                <h5 class="text-start mx-5">
                    {% if app.user.coach is null %}
                        <h5>Aucune activité</h5>
                    {% else %}
                        {% for activity in app.user.coach.activities %}
                            {{ activity.name }} <br>
                        {% endfor %}
                    {% endif %}
                </h5>
            </div>
        </div>
        <div class="my-2">
            <div class="bg-light m-3 border rounded">
                <p>Tarif Horaire :</p>
                {% if app.user.coach is null %}
                    <h5 class="text-start mx-5">>Aucun tarif horaire</h5>
                {% else %}
                    <h5 class="text-start mx-5">{{ app.user.coach.hourlyRate }}</h5>
                {% endif %}
            </div>
        </div>
    </div>
</div>
