{% extends 'layout.html.twig' %}

{% block body %}
<main class="container-fluid col-11 profile">
    <h1>Mon espace Coach</h1>
    <div class="d-flex justify-content-end mb-3">
        <a href="{{ path('coach_edit') }}" class="btn btn-success m-2 text-white"><i class="bi bi-pencil-square text-success text-white"></i> &nbsp; Mettre à jour</a>
    </div>
    <section class="row">
        <div class="col-lg-6 col-md-12 mt-4">
            {% include 'profile_coach/_information.html.twig' %}
        </div>
        <div class="col-lg-6 col-md-12 mt-3 mt-md-0">
            <div class="my-3">
                {% include "profile_coach/_photo.html.twig" %}
            </div>
            <div class="pt-4">
                    {% include 'profile_coach/_preferences.html.twig' %}
            </div>
            <div class="pt-4">
                    {% include 'profile_coach/_coachmoi.html.twig' %}
            </div>
        </div>
    </section>
    <section class="row">
        <div class="col-md-12 my-5">
            {% include 'profile_coach/_availability.html.twig' %}
        </div>
    </section>
</main>
{% endblock %}