{% extends 'layout.html.twig' %}

{% block title %}Hello {{ app.user.firstname }}!{% endblock %}

{% block body %}
    <div class="row p-5 m-0">
        <h1>Mon espace Coach</h1>
        {% block information %}
            {% include 'profile_coach/_information.html.twig' %}
        {% endblock %}
        {% block preferences %}
            {% include 'profile_coach/_preferences.html.twig' %}
        {% endblock %} 
    </div>
{% endblock %}