<form method="post" action="{{ path('coach_availability_delete', {'id': availability.id}) }}" onsubmit="return confirm('Êtes-vous sûr de bien vouloir supprimer cet élément ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ availability.id) }}">
    <button  class="btn btn-success text-white"><i class="bi bi-trash-fill text-white"></i> &nbsp;Supprimer</button>
</form>
