{% extends 'layout_profile.html.twig' %}

{% block title %}Modifier une nouvelle disponibilité{% endblock %}

{% block body %}
    <h1>Modifier une nouvelle disponibilité</h1>

    {{ include('profile_coach_availability/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('coach_availability_index') }}" class="btn btn-success">Retour à la liste</a>

    {{ include('profile_coach_availability/_delete_form.html.twig') }}
{% endblock %}
