{% extends 'layout_profile.html.twig' %}

{% block title %}Modifier une nouvelle disponibilité{% endblock %}

{% block body %}
    <h1>Modifier une nouvelle disponibilité</h1>

    {{ include('coach_profile/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('coach_profile_index') }}" class="btn btn-success">Retour à la liste</a>

    {{ include('coach_profile/_delete_form.html.twig') }}
{% endblock %}
