<form method="post" action="{{ path('admin_activity_delete', {'id': activity.id}) }}" onsubmit="return confirm('Voulez vous supprimer cet élément ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ activity.id) }}">
    <button  class="btn bg-success text-light m-3">Supprimer</button>
</form>
