<form method="post" action="{{ path('admin_activity_delete', {'id': activity.id}) }}" onsubmit="return confirm('Voulez vous supprimer cet élément ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ activity.id) }}">
    <button  class="btn btn-danger text-light fs-6 mt-1"><i class="bi bi-trash-fill text-white"></i> Supprimer</button>
</form>
