{% extends 'layout_superadmin.html.twig' %}

{% block title %} Éditer une activité {% endblock %}

{% block content %}
<div class="container my-5">
    <h1>Éditer une activité</h1>

    <div class="container border border-1 border-dark rounded my-5">
        {{ include('admin_activity/_form.html.twig', {'button_label': 'Valider'}) }}
        
        {{ include('admin_activity/_delete_form.html.twig') }}

        <a href="{{ path('admin_activity_index') }}" class="m-3">Retour à la liste</a>

    </div>
    </br>
    <a class="fw-bold fs-5" href="{{ path('admin_activity_index') }}">Retour à la liste des  activités</a>

</div>
{% endblock %}
