{% extends 'layout_superadmin.html.twig' %}

{% block title %} Éditer une activité {% endblock %}

{% block content %}
<div class="container my-5">
    <h1>Éditer {{ activity.name }}</h1>

    <div class="container border border-1 border-dark rounded my-5">
        {{ include('admin_activity/_form.html.twig', {'button_label': 'Valider'}) }}
    </div>
    </br>
    <p class= "text-uppercase fw-bold fst-italic"><a href="{{ path('admin_activity_index') }}" class="btn btn-success text-dark"><i class="bi bi-arrow-counterclockwise text-dark"></i> Retour liste  des activités</a></p>

</div>
{% endblock %}
