{% extends 'layout_superadmin.html.twig' %}

{% block title %}Modifier Activité{% endblock %}

{% block body %}
    <h1>Modifier Activité</h1>

    <div class="container border border-1 border-dark mt-3">
        {{ include('admin_activity/_form.html.twig', {'button_label': 'Update'}) }}

        {{ include('admin_activity/_delete_form.html.twig') }}

        <a href="{{ path('admin_activity_index') }}" class="m-3">Retour à la liste</a>

    </div>

{% endblock %}
