<div class="container-fluid p-5 banner">
    <div class="contain-banner pt-3 pb-3 px-2">
        <h1 class="text-light title-banner mb-5 fw-bold fst-italic">ACTIVITES</h1>
        <p class="text-light describe-banner fst-italic">Voici la liste de toutes les activités proposées par vos coachs.</p>
    </div>
</div>