<div class="container-fluid p-5 banner">
    <div class="contain-banner pt-3 pb-3 px-2">
        <h1 class="text-light">BIENVENUE</h1>
        <p class="text-light describe-banner fst-italic">"Plateforme de mise en relation pour les coachs sportifs"</p>
    </div>
</div>