<nav class="navbar navbar-expand-xl navbar-light bg-dark">
	<div class="container-fluid">
		<img class="logo" src="{{ asset('build/images/coachmoi.png') }}" alt="logo-coach-moi">
		<button class="navbar-toggler custom-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
			<ul class="navbar-nav me-auto my-2 my-lg-0 mx-auto">
				<li class="nav-item text-center mx-5 fw-bold fst-italic fs-6">
					<a class="nav-link" aria-current="page" href="#">ACCUEIL</a>
				</li>
				<li class="nav-item text-center mx-5 fw-bold fst-italic fs-6">
					<a class="nav-link" href="#">ACTIVITÉS</a>
				</li>
				<li class="nav-item text-center mx-5 fw-bold fst-italic fs-6">
					<a class="nav-link" href="#">ESPACES D'ENTRAINEMENT</a>
				</li>
				<li class="nav-item text-center mx-5 fw-bold fst-italic fs-6">
					<a class="nav-link" href="#">COACHS</a>
				</li>
			</ul>
			<div class="d-flex justify-content-center">
				<a class="btn btn-success mx-1 button-login" href="#">S'INSCRIRE</a>
				<a class="btn btn-success mx-1 button-login" href="#">SE CONNECTER</a>
			</div>
		</div>
	</div>
</nav>
