{% extends 'layout.html.twig' %}

{% block body %}
  {% include 'includes/_activitybanner.html.twig' %}
  <section class="container">
    <h1 class="text-center">
      TOUTES LES ACTIVITÉS
    </h1>
    {% include 'home/_activities.html.twig' %}
  </section>

{% endblock %}
