{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-success text-white m-2"><i class="bi bi-check-square-fill text-white"></i> {{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}
