{% extends 'layout_profile.html.twig' %}

{% block title %}Modifier une nouvelle disponibilités{% endblock %}

{% block body %}
    <h1>Modifier une nouvelle disponibilités</h1>

    {{ include('client_profile/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('client_profile_index') }}" class="btn btn-success">Retour à la liste</a>

    {{ include('client_profile/_delete_form.html.twig') }}
{% endblock %}
