{% extends 'layout_profile.html.twig' %}

{% block title %}Créer une nouvelle disponibilité{% endblock %}

{% block body %}
<div class="container">
    <h1>Créer une nouvelle disponibilité</h1>
    <div class="row border border-1 rounded shadow bg-light p-3 d-flex justify-content-center">
        <div class="col">
            {{ include('profile_coach_availability/_form.html.twig') }}
        </div>
    </div>
    <div class="d-flex justify-content-end">
        <a href="{{ path('client_availability_index') }}"  class="btn btn-success mt-3"><i class="bi bi-arrow-counterclockwise"></i> &nbsp; Retour à la liste</a>
    </div>
</div>
{% endblock %}
