@import 'variables.scss';
@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import 'banner.scss';
@import 'navbar.scss';
@import 'training_space.scss';

body {
    background-color: $light;
    font-family: $text-font;
    color: $dark;
}

.card-img-top{
    object-fit: cover;
}

h1, .h1, h2, .h2 {
    font-weight: 700;
    font-style: italic;
    margin: 2rem 1rem;
    text-align: center;
    text-transform: uppercase;
}

.card-title {
    font-size: 28;
    font-style: italic;
    font-weight: bold;
    color: $primary;
    text-transform: uppercase;
}

p {
    font-size: 1.2rem;
}

.btn {
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: bold;
    font-style: italic;
}

.nav-item {
    text-transform: uppercase;
}
