@import 'variables.scss';

.profile h3{
    margin: 0px;
}

.profile .title {
    margin-top: -2rem;
    border-radius: 5px;
}

.profile .mes-informations{
    border-radius: 5px;
}

.profile p{
    margin:0px;
}