@import 'variables.scss';

.salles {
    background-image: url('../images/background-salles.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.carousel-item img {
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
// Hover effect for the cards of training spaces
.space-card {
    transition: transform .5s;
}

.space-card {  
    &:hover {
        transform: scale(1.1);
    }
}