@import 'variables.scss';

.salles {
    background-image: url('../images/background-salles.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#carousel-training-space{
    min-height:500px;
}
   
.carousel-item img {
    max-width: 100%;
    height:500px!important;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

}
