$primary: #6bd736;
$secondary: #cac4c4;
$light: #FFFFFF;
$success: #6bd736;
$dark:#000000;
$darklight:#444444;
$danger: rgb(177, 21, 21);

$theme-colors: (
    "primary":    $primary,
    "secondary":  $secondary,
    "success":    $success,
    "light":      $light,
    "dark":       $dark,
    "danger":     $danger,
);

$display-font-sizes: (
    1: 5rem,
    2: 4.5rem,
    3: 4rem,
    4: 3.5rem,
    5: 3rem,
    6: 2.5rem
);

$text-font: 'Poppins', 'sans-serif';
$title-weight: 800;
$card-height: 100%;