{% extends "base.html.twig" %}

{% block title %}Admin - {{ parent() }}{% endblock %}
{% block navbar %}{% endblock %}
{% block body %}
    <main class="container-fluid col-11">
        <h1> Mon espace {{ parent() }} </h1>

        <section class="d-flex justify-content-between align-items-stretch">
            <div>{% block information %}{% endblock %}</div>
            <div>{% block preferences %}{% endblock %}</div>
        </section>

        {% block planning %}{% endblock %}
        {% block documents %}{% endblock %}
        </section>
    </main>
{% endblock %}