{% extends "base.html.twig" %}

{% block title %}Hello {{ app.user.firstname }}!{% endblock %}

{% block body %}
    <main class="container-fluid col-11 profile">
        {% block information %}
        {% endblock %}
        {% block preferences %}
        {% endblock %}
        {% block coachmoi %}
        {% endblock %}
        {% block availabilities %}
        {% endblock %}
    </main>
{% endblock %}