{% block navbar %}{% endblock %}
{% block body %}
    <main class="container-fluid col-11">
        <h1> Mon espace</h1>

        <section class="d-flex flex-column flex-lg-row justify-content-between align-items-stretch">
            <div class="w-100 w-lg-25">{% block informations %}{% endblock %}</div>
            <div class="w-100 w-lg-75">{% block preferences %}{% endblock %}</div>
        </section>
        <section>
            {% block planning %}{% endblock %}
        </section>
        <section>
            {% block documents %}{% endblock %}
        </section>
    </main>
{% endblock %} 