{% extends 'layout.html.twig' %}

{% block title %}Conditions Générales d'Utilisation
{% endblock %}

{% block body %}

	<h1 class="my-5">Conditions Générales d'Utilisation</h1>
	<div class="container bg-light p-5 my-5">
		<h2 class="mb-5">1. COACHMOI – généralités</h2>
		<p>Les présentes Conditions Générales d’Utilisation (CGU) ont pour objet de définir les modalités et conditions dans lesquelles COACHMOI met le présent service à la disposition de ses utilisateurs.																			Le service, ses contenus et fonctionnalités sont régis par le droit français, quel que soit le lieu d’utilisation. En cas de contestation éventuelle, et après l’échec de toute tentative de recherche d’une solution amiable, les tribunaux administratifs français seront seuls compétents pour répondre à ce litige.
		</p>

		<h2 class="my-5">2. Accès au service</h2>
		<h3 class="my-5"><span class="text-primary">2.1.</span> Modalités d’accès au service</h3>
		<p>Le compte COACHMOI est un service multicanal, il permet à l'adhérent d’accéder à son compte personnel à l’aide de son identifiant et de son mot de passe via :</p>
		<ul>
			<li>Le site internet sur www.coachmoi.fr</li>
		</ul>
		<p>Le téléchargement et l’utilisation de ces services sont à ce jour gratuits.</p>
		<h3 class="my-5"><span class="text-primary">2.2.</span> Disponibilité du service</h3>
		<p>Le présent service est accessible 7 jours sur 7 et 24 heures sur 24 à l’exception des cas de force majeure, de difficultés informatiques, de difficultés liées à la structure du réseau de télécommunication ou de difficultés techniques.
			Pour des raisons de maintenance, COACHMOI pourra interrompre l’accès au service et s’efforcera d’en avertir les utilisateurs au moment de la connexion au compte.
			L’indisponibilité du service ne donne droit à aucune indemnité.
		</p>
		<h2 class="my-5">3. Création et gestion du compte COACHMOI</h2>
		<p>La création du compte COACHMOI et son utilisation suppose de la part de l’utilisateur :</p>
		<ul>
			<li>L’acceptation sans réserve des présentes Conditions Générales d’utilisation (CGU) lors de la création de l’espace personnel et lors de chaque mise à jour de ces mêmes Conditions Générales d’utilisation (CGU).</li>
			<li>L’utilisation d’un mot de passe secret personnel pour s’authentifier.</li>
			<li>La saisie et la confirmation d’une adresse email unique et personnelle.</li>
		</ul>
		<h3 class="my-5"><span class="text-primary">3.1.</span> Utilisation de l’adresse email</h3>
		<p>L’adresse email renseignée doit être personnelle et unique afin qu’une seule adresse email soit associée à un seul compte COACHMOI.</p>
		<p>En renseignant et en confirmant votre email :</p>
		<ul>
			<li>L’utilisateur accepte de recevoir, dans la messagerie du compte COACHMOI, tout ou partie des courriers et messages de COACHMOI.</li>
		</ul>
		<h3 class="my-5"><span class="text-primary">3.2.</span> Utilisation des données de l’utilisateur</h3>
		<p>l’utilisateur peut renseigner dans son compte COACHMOI d’autres données que sa seule adresse email, téléphone fixe ou téléphone portable telles que notamment ses coordonnées bancaires ou son adresse postale.
			Les coordonnées de contact renseignées par l’utilisateur peuvent être utilisées pour leur envoyer des messages permettant de :
		</p>
		<ul>
			<li>Promouvoir les offres, services et prestations de COACHMOI.</li>
			<li>Tester auprès d’eux la pertinence des nouvelles/nouveaux offres, services ou prestations de COACHMOI.</li>
			<li>Évaluer leur satisfaction et les usages des offres, services et prestations de COACHMOI.</li>
		</ul>
		<p>L’utilisateur fait le choix de recevoir ou non ces communications au moment de son adhésion au compte au moyen d’une case à cocher dédiée.
			Il peut modifier son choix à tout moment tant pour la finalité d’usage que pour le canal de communication choisi. L’utilisateur peut également se désabonner des communications reçues via un lien prévu à cet effet dans les courriers électroniques qu’il reçoit.
			L’utilisateur continuera malgré tout à recevoir ses relevés de prestation au format électronique et les communications en lien avec la gestion de son dossier administratif.
		</p>
		<h3 class="my-5"><span class="text-primary">3.3.</span> Sécurisation des données d’accès au compte COACHMOI</h3>
		<p>Le mot de passe au compte COACHMOI est strictement personnel, il convient de le garder secret et de le modifier régulièrement.
			L’espace personnel du compte COACHMOI – auquel accède l’utilisateur – contient des données personnelles. La saisie de l’identifiant et du mot de passe permet de protéger les données de l’utilisateur en limitant l’accès. COACHMOI invite donc l’utilisateur à ne jamais communiquer à un tiers son identifiant et son mot de passe.
			Si l’utilisateur constate que les informations présentes dans son compte COACHMOI ne sont pas les siennes ou si elles contiennent une erreur, il convient d’en informer immédiatement COACHMOI.
			L’utilisation frauduleuse de l’identifiant et du mot de passe d’un tiers utilisateur du service peut causer un préjudice et entraîner des poursuites pénales.
		</p>
		<h3 class="my-5"><span class="text-primary">3.4.</span> Protection des données</h3>
		<p>COACHMOI traite l’ensemble de données personnelles qui lui sont confiées dans le cadre de ses missions et dans le respect des exigences règlementaires relatives à la protection des données personnelles et de la vie privée des personnes. <span class="text-primary">La Politique générale de protection des données personnelles de COACHMOI est disponible sur COACHMOI.fr.</span>
			Ce traitement a pour finalité principale de permettre aux utilisateurs d’effectuer certaines démarches et d’accéder aux informations les concernant et qui sont détenues par COACHMOI dans le cadre de leurs missions.
		</p>
		<h3 class="my-5"><span class="text-primary">3.4.1.</span> Responsable de traitement</h3>
		<p>COACHMOI est le responsable du traitement de données au sens du règlement général sur la protection des données (RGPD) et de la loi n°78-17 du 6 janvier 1978 relative à l’informatique, aux fichiers et aux libertés modifiée.A ce titre, elle s’engage à prendre toutes précautions utiles au regard de la nature des données et des risques présentés par le traitement pour préserver la sécurité des données et, notamment, empêcher qu’elles soient déformées, endommagées ou que des tiers non autorisés y aient accès.
			COACHMOI ne pourra être tenue pour responsable des dommages que causerait un utilisateur du « compte COACHMOI » en utilisant des informations issues de ce site à d’autres fins que celles auxquelles elles sont destinées.
		</p>
		<h3><span class="text-primary">3.4.2.</span> Données traitées</h3>
		<p>Les informations du compte proviennent des bases de données mises en œuvre par COACHMOI dans le cadre de ses missions.</p>
		<p>Les catégories de données traitées sont :</p>
		<ul>
			<li>Des données d’identification et de contact dont le nom, prénom, date de naissance, photographie, l’adresse de courrier électronique, l’adresse postale, numéros de téléphone.</li>
			<li>Des données financières dont les coordonnées bancaires et données relatives aux paiements et remboursements</li>
		</ul>
		<p>
			<span class='text-primary'>Les organismes de COACHMOI peuvent être tenus de fournir ou échanger des informations avec leurs partenaires dans le cadre de leurs missions ou d’obligations légales.</span>Une information particulière est alors également portée à la connaissance des personnes concernées via les mentions spécifiques d’information et les éventuelles Conditions Générales d’Utilisation (CGU) concernant lesdits services.
		</p>
		<h3 class="my-5"><span class="text-primary">3.4.3.</span> Durées de conservation</h3>
		<p>L’ensemble des documents échangés entre COACHMOI et l’utilisateur dans la messagerie de son compte sont conservés pour une durée de 6 mois, au-delà ils sont supprimés. L’utilisateur est donc invité à sauvegarder l’ensemble de ses documents sur un autre support afin de pouvoir consulter ces documents ultérieurement.
			Les informations relatives aux paiements sont conservées 48 mois.
		</p>
		<h3 class="my-5"><span class="text-primary">3.4.4.</span> Sécurité des données</h3>
		<p>Avant toute utilisation du compte, il appartient aux utilisateurs de s’assurer, d’une part, que le navigateur ou le réseau à partir duquel ils accèderont au site (réseau domestique ou réseau de l’opérateur de téléphonie mobile) et, d’autre part, que l’environnement d’exploitation des appareils sur lesquels l’application est installée, permettent l’accès dans une configuration sécurisée.
			Il leur appartient également de vérifier que la configuration informatique utilisée et l’environnement d’exploitation du ou des appareils utilisés sont sécurisés et ne contiennent notamment aucun virus et qu’ils sont en bon état de fonctionnement.
			Seuls les personnels individuellement habilités par la Direction de COACHMOI peuvent accéder aux données strictement nécessaires à l’exercice de leurs missions, dans la limite du besoin d’en connaître et le respect du secret professionnel.
		</p>
		<h3 class="my-5"><span class="text-primary">3.4.5.</span> Droits d’accès, de rectification et d’opposition au traitement</h3>
		<p>Conformément à la réglementation relative à la protection des données en vigueur, l’utilisateur dispose d’un droit d’accès et de rectification et d’un droit d’opposition sur le traitement de ses données.
			En plus de la possibilité offerte à l’utilisateur de consulter l’ensemble des données contenues dans son compte, l’utilisateur peut exercer ses droits directement depuis son compte COACHMOI.
			En dehors du compte, ces droits s’exercent auprès du Directeur de COACHMOI en contactant le délégué à la protection des données (DPO).Le droit d’opposition s’exerce selon les mêmes modalités.En cas de difficultés dans l’application des droits énoncés ci-dessus, toute personne peut également introduire une réclamation auprès de l’autorité indépendante en charge du respect de la protection des données personnelles :
			Commission Nationale Informatique et Libertés – CNIL – 3 Place de Fontenoy TSA – 80715 – 75334 PARIS CEDEX 07.
		</p>
		<h3 class="my-5"><span class="text-primary">3.4.6.</span> Gestion des cookies et traceurs</h3>
		<p>Un cookie est un petit fichier texte déposé sur votre terminal (ordinateur, tablette ou mobile) lors de la visite d’un site internet. Il contient plusieurs données : le nom du serveur qui l’a déposé, un identifiant sous forme de numéro unique, éventuellement une date d’expiration.
			Lors de l’usage du téléservice, des informations sur la navigation sont susceptibles d’être enregistrées ou lues dans le terminal des utilisateurs.
			COACHMOI utilise exclusivement des cookies (relatifs à la navigation de ses utilisateurs) exemptés de consentement selon les recommandations de la CNIL. En effet, les cookies utilisés sont de nature purement techniques et permettent d’utiliser les principales fonctionnalités du compte COACHMOI. Ils ne permettent en aucun cas l’accès aux données personnelles des utilisateurs.
		</p>
		<h2 class="my-5">4. Services offerts</h2>
		<h3 class="my-5"><span class="text-primary">4.1.</span> Prendre contact avec COACHMOI</h3>
		<p>Par exemple, le compte COACHMOI permet de contacter un conseiller par email depuis sa messagerie.</p>
		<h2 class="my-5">7. Résiliation</h2>
		<p>L’utilisateurs peut, à tout moment, <span class="text-primary">résilier</span> son compte COACHMOI depuis son espace.</p>
		<h2 class="my-5">8. Propriété intellectuelle
		</h2>
		<p>Pour tous les contenus, textes et logos présentés sur le site internet, site mobile et applications smartphone : tous droits d’auteur des œuvres sont réservés.
			Sauf autorisation formelle écrite préalable, la reproduction ainsi que toute utilisation des œuvres, autres que la consultation individuelle et privée, sont interdites.
			Toute demande d’autorisation pour quelque utilisation que ce soit doit être adressée à :
			(à définir)
			(adresse à définir)
			Nous vérifions la qualité des sites que nous recommandons, néanmoins nous ne saurions être responsables, contrôler ou garantir l’actualité et l’exactitude des informations diffusées sur les sites des sociétés, organismes ou personne privée vers lesquels nous avons établi des liens.
		</p>
        <h2 class="my-5">9. Mentions légales</h2>
        <p>Le site « COACHMOI» est édité par (NOM DE SOCIETE à définir)</p>
        <ul>
            <li>Siège social : (à définir)</li>
            <li>Tél : (à définir)</li>
            <li>RCS : (à définir)</li>
            <li>Directeur de la publication : Franck AMOUROUX (titre)</li>
        </ul>
        <h2 class="my-5">Recommandations de sécurité</h2>
        <ul>
            <li>Le code d’accès au compte COACHMOI est strictement personnel, il convient de le garder secret. N’oubliez pas de le modifier régulièrement.</li>
            <li>Assurez-vous que l’ordinateur sur lequel vous consultez votre compte COACHMOI est bien protégé par un antivirus et que celui-ci est à jour.</li>
            <li>Vérifiez l’adresse (URL) dans la barre de votre navigateur lorsque vous consultez votre compte COACHMOI depuis internet : www.coachmoi.fr</li>
            <li>L’adresse (URL) doit débuter par https:// et un cadenas doit apparaître.</li>
            <li>N’oubliez pas de vous déconnecter de votre session COACHMOI avant de fermer votre navigateur internet. Ceci plus particulièrement si vous utilisez un ordinateur partagé (cybercafé, etc.)</li>
        </ul>
	</div>

{% endblock %}
