{% extends 'layout_superadmin.html.twig' %}

{% block title %}Liste d'espaces {% endblock %}

{% block content %}
<div class="container">
    <h1>Modifier</h1>
    {{ include('admin_space/_form.html.twig', {'button_label': 'Valider'}) }}
    {{ include('admin_space/_delete_form.html.twig') }}
    </br>
    <a class="fw-bold fs-5" ></a>
    <p class= "text-uppercase fw-bold fst-italic"><a href="{{ path('admin_space_index') }}" class="btn btn-success text-dark"><i class="bi bi-arrow-counterclockwise text-dark"></i> Retour liste des espaces</a></p>

</div>
{% endblock %}
