{% extends 'base.html.twig' %}

{% block title %}Page non trouvée{% endblock %}

{% block body %}
    <h1>Page non trouvée</h1>
    <p class="mx-5">La page que vous cherchez n'a pas été trouvée</p>
    <p class="mx-5">Code {{ status_code }} : {{ status_text }}</p>

    <div class="d-flex align-items-baseline m-3">
        <i class="bi bi-caret-left-fill text-primary"></i>
        <p class="text-uppercase fw-bold fst-italic"><a href="{{ path('home') }}">Retour au site</a></p>
    </div>
{% endblock %}