<div class="border border-dark rounded m-1">
    <div class="profile-h2 d-flex align-items-center border border-dark rounded title w-75 bg-dark col-md-8 col-lg-6">
        <h2 class="m-2 text-truncate text-light"><i class="bi bi-trophy-fill text-success me-2"></i> Coach Moi</h2>
    </div>
    <div class="my-2">
         <div class="bg-light m-3 border rounded">
            <p>Coach :</p>
            {% if app.user.client is null or app.user.client.coachbooking is null %}
                <h3 class="text-start mx-5">Vous n'avez pas encore de coach</h3>
                {% if app.user.client.activity is null %}
                <p class="text-start fst-italic">Veuillez choisir une activité afin de nous aider à identifier le coach le mieux adapté à vos attentes.</p>
                {% else %}
                <p class="text-start fst-italic">Nous travaillons dur afin de trouver le coach le mieux adapté à vos attentes. Merci pour votre patience!</p>
                {% endif %}
            {% else %}
                <h3 class="text-start ">{{ app.user.client.coachbooking.coach.user.firstname }} {{ app.user.client.coachbooking.coach.user.lastname }}</h3>
            {% endif %}
        </div>
    </div>

    <div class="my-2">
         <div class="bg-light m-3 border rounded">
            <p>Espace d'entrainement :</p>
            {% if app.user.client is null or app.user.client.coachbooking is null %}
            <h3 class="text-start mx-5">Vous n'avez pas encore d'espace d'entrainement</h3>
                {% if app.user.client.activity is null %}
                <p class="text-start mx-5 fst-italic">Veuillez choisir une activité afin de nous aider à identifier l'espace le mieux adapté à vos attentes.</p>
                {% else %}
                <p class="text-start mx-5 fst-italic">Nous travaillons dur afin de trouver l'espace d'entrainement le mieux adapté à vos attentes. Merci pour votre patience!</p>
                {% endif %}
            {% else %}
            <h3 class="text-start mx-5">{{ app.user.client.coachbooking.trainingSpace.name }}</h3>
            {% endif %}
        </div>
    </div>
</div>
