{% extends 'layout_profile.html.twig' %}

{% block title %}Modifier Client{% endblock %}

{% block body %}
    <h1>Modifier mon profil</h1>
        <div class="container mx-auto mt-4 mb-5">
            {{ include('profile_client/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
        <div class=" d-flex justify-content-end">
            <a href="{{ path('profile_client') }}" class="btn btn-success m-2"><i class="bi bi-arrow-counterclockwise"></i> Retour</a>
        </div>
    </div>
{% endblock %}
