{% extends 'base.html.twig' %}

{% block title %}Hello ProfileClientController!{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>Hello Username! </h1>

    <section class="mes-informations border">
        <h2>Mes informations</h2>

        <div>
            <h5>Nom</h5>
            <p>{{ user.name }}</p>
        </div>
    </section>
</div>
{% endblock %}
