{% extends 'layout.html.twig' %}

{% block body %}
    <div class="row p-5 m-0">
        <h1>Mon espace Client</h1>
        {% block information %}
            {% include 'profile_client/_information.html.twig' %}
        {% endblock %}
        {% block preferences %}
            {% include 'profile_client/_preferences.html.twig' %}
        {% endblock %}
        {% block availabilitites %}
            {% include 'profile_client/_availability.html.twig' %}
        {% endblock %}
    </div>
{% endblock %}